
@{
    ViewBag.Title = "Home Page";
}
<body>
    <div id="floating-panel">
        <input id="address" type="textbox" value="input your country">
        <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
<script src="~/Scripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNEEG4jxfUovwAPXPiNChLqWE8BdNpbQ4&callback=initMap"></script>
</body>
